<section class="my-footer">
    <img class="my-transpar-bg-left" src="/vnmechanical/images/icon/factory-3.png" alt="">
    <img class="my-transpar-bg-right" src="/vnmechanical/images/icon/wagon.png" alt="">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-sm-4">
                <div class="my-footer-col">
                    <div class="my-section-title">
                        <h2>recent tweets</h2>
                        <div class="my-title-line"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="my-tweets">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <p><a href="#">@market</a> Phasellus lacus nulla, tristique in nibh eget, dignissim fermentum mi. Vestibulum egestas.</p>
                        <a href="#">about 1 min ago</a>
                    </div>
                    <div class="my-tweets bdr-out">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                        <p><a href="#">@market</a> Phasellus lacus nulla, tristique in nibh eget, dignissim fermentum mi. Vestibulum egestas.</p>
                        <a href="#">about 1 min ago</a>
                    </div>
                </div>	
            </div>
            <div class="col-sm-4">
                <div class="my-footer-col">
                    <div class="my-footer-logo">
                        <img src="/vnmechanical/images/logo-2.png" alt="">
                        <p> Phasellus interdum odio est, sed aliquet diam vestibulum sed. Vestibulum ante ipsum primis in.</p>
                        <ul class="my-footer-social clearfix">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>	
            </div>
            <div class="col-sm-4">
                <div class="my-footer-col clearfix">
                    <div class="my-section-title">
                        <h2>flicker feed</h2>
                        <div class="my-title-line"></div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="my-flickr">
                        <div class="my-flickr-img clearfix animated fadeIn delay-250">
                            <img class="img-responsive my-img-fluided " src="/vnmechanical/images/flicker/1.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/1.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-500">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/2.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/2.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-750">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/3.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/3.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-1000">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/4.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/4.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-1250">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/5.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/5.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-1500">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/6.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/6.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-1750">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/7.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/7.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                        <div class="my-flickr-img clearfix animated fadeIn delay-2000">
                            <img class="img-responsive my-img-fluided" src="/vnmechanical/images/flicker/8.jpg" alt="">
                            <div class="my-layer">
                                <a href="/vnmechanical/images/flicker/8.jpg" class="lightbox-image" data-fancybox-group="gallery"><i class="icon icon-Search"></i></a>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="my-copyright">
                    <p>Copyright © 2017 <%= link_to 'VNMechanical', erp_vnmechanical.root_path, title: 'VNMechanical', target: '_blank' %>. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</section>