<header class="my-main-header my-main-header-two">
    <div class="my-header-top-bar">
        <%= render "erp/vnmechanical/frontend/modules/header/topbar" %>
    </div>
    <div class="my-header-nav">
        <div class="my-main-nav scrollingto-fixed"> 
            <div class="container my-container-two">
                <nav class="navbar navbar-default bootsnav my-menu-style-two yellow my-nav-shape">
                    <!-- Start Header Navigation -->
                    <%= render "erp/vnmechanical/frontend/modules/header/navigation" %>
                    <!-- End Header Navigation -->
                    
                    <!-- Start Header Menu -->
                    <%= render "erp/vnmechanical/frontend/modules/header/menu" %>
                    <!-- End Header Menu -->
                </nav>
            </div>
        </div>
    </div>
</header>