<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
        <i class="fa fa-bars"></i>
    </button>
    <%= link_to image_tag('/vnmechanical/images/logo.png', alt: 'Quay về trang chủ', class: 'my-logo-2'),
        erp_vnmechanical.root_path, title: '', class: 'navbar-brand' %>
</div>