<% if !Erp::Contacts::Contact.all.empty? %>
<% contact = Erp::Contacts::Contact.get_main_contact %>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-header-top-col my-text-center">
                <div class="my-header-top-content pull-right clearfix">
                    <ul>
                        <li>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <%= display_contact_address(contact) %>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <%= contact.phone %>
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                <%= contact.email %>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>