<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-header-top-col my-text-center">
                <div class="my-header-top-content pull-right clearfix">
                    <ul>
                        <li>
                            <p>
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                188 Đường số 1, Phường 16, Gò Vấp, TP.HCM
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                (028) 123 4567
                            </p>
                        </li>
                        <li>
                            <p>
                                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                lien-he@vnmechanical.com
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>