<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="my-header-top-col my-text-center">
                <div class="my-header-top-content pull-right clearfix">
                    <ul>
                        <li>
                            <p><i class="fa fa-map-marker" aria-hidden="true"></i> 45 Park Avenue, New York</p>
                        </li>
                        <li>
                            <p><i class="fa fa-phone" aria-hidden="true"></i> (+01) 123 456 7896</p>
                        </li>
                        <li class="my-quote">
                            <a href="#"><i class="fa fa-globe" aria-hidden="true"></i> Get a quote</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>