<!--% if (can? :view, Erp::Banners::Banner) %>-->
<li class="nav-item  <%= "active open" if (params[:controller] == "erp/banners/backend/banners") %>">
    <a href="javascript:;" class="nav-link nav-toggle">
        <i class="fa fa-picture-o"></i>
        <span class="title">Hình ảnh</span>
        <% if (params[:controller] == "erp/banners/backend/banners") %>
            <span class="selected"></span>
            <span class="arrow open"></span>
        <% else %>
            <span class="arrow"></span>
        <% end %>
    </a>
    <ul class="sub-menu">
        <li class="nav-item <%= "active open" if ["erp/banners/backend/banners"].include?(params[:controller]) %>">
            <a href="<%= erp_banners.backend_banners_path %>" class="nav-link ">
                <span class="title">Slideshow</span>
                <% if ["erp/banners/backend/banners"].include?(params[:controller]) %>
                <span class="selected"></span>
                <% end %>
            </a>
        </li>
    </ul>
</li>
<!--% end %>-->