<div class="my-blog-single-comment">
    <h2><i class="icon icon-Message"></i> Comments (2)</h2>
    <div class="my-comment-item">
        <img src="images/blog/11.png" alt="">
        <h6>Admin says <span class="my-replay pull-right"><a href="#"><i class="fa fa-mail-forward"></i></a></span></h6>
        <span>APRIL 5, 2016 AT 12:45 AM</span>
        <p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet latcus sit amet elit porta, et malesuada erat bibendum. Cras sed nunc massa. Quisque tempor dolor sit amet tellus malesuada.</p>
    </div>
</div>
<div class="my-blog-single-comment my-blog-single-comment-two">
    <div class="my-comment-item">
        <img src="images/blog/12.png" alt="">
        <h6>Admin says <span class="my-replay pull-right"><a href="#"><i class="fa fa-mail-forward"></i></a></span></h6>
        <span>APRIL 5, 2016 AT 12:45 AM</span>
        <p>Vestibulum quam nisi, pretium a nibh sit amet, consectetur hendrerit mi. Aenean imperdiet lacus sit amet elit porta, et malesuada erat.</p>
    </div>
</div>
<form id="contact_form" name="contact_form" class="my-contact-form" action="includes/contact.php" method="post" novalidate="novalidate">
    <h3>contact:</h3>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input id="form_name" name="form_name" class="form-control" placeholder="Your Name*" required="required" data-error="Name is required." type="text">
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="form_email" name="form_email" class="form-control" placeholder="Email*" required="required" data-error="Email is required." type="email">
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <input id="website_name" name="website_name" class="form-control" placeholder="Website (optional)" required="required" data-error="Name is required." type="text">
                <div class="help-block with-errors"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <textarea id="form_message" name="form_message" class="form-control my-text-area" rows="8" placeholder="Type in a message" required="required" data-error="Message is required."></textarea>
            </div>
            <a class="btn btn-default my-btn-black" href="#">read more</a>
        </div>
    </div>
</form>