<div class="my-categories">
    <h3 class="my-sidebar-title">Categories</h3>
    <ul>
        <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Online courses</a></li>
        <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Kindergarden</a></li>
        <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">University Board</a></li>
        <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Events Log</a></li>
        <li><i class="fa fa-check" aria-hidden="true"></i><a href="#">Exam Patterns</a></li>
    </ul>
</div>
<div class="my-tags clearfix">
    <h3 class="my-sidebar-title">Tags</h3>
    <ul>
        <li><a href="#">Education</a></li>
        <li><a href="#">Crisis</a></li>
        <li><a href="#">Water</a></li>
        <li><a href="#">Small Business</a></li>
        <li><a href="#">Giving</a></li>
        <li><a href="#">Children</a></li>
    </ul>
</div>