<div class="my-search-box">
    <div class="search-form">
        <form method="post">
            <div class="input-group">
              <input placeholder="SEARCH..." class="form-control" name="search-field" type="text">
              <span class="input-group-btn">
              <button type="submit" class="btn"><i class="fa fa-search"></i></button>
              </span>
            </div>
        </form>
    </div>
</div>