<!-- Inner page heading start -->
<section class="my-inner-heading-field my-layer-black">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="my-inner-heading-col">
                    <h2>GIỚI THIỆU</h2>
                    <p>
                        <%= link_to 'Trang Chủ', erp_vnmechanical.root_path, title: 'Quay về trang chủ' %>
                        <%= link_to 'Giới Thiệu', erp_vnmechanical.about_us_path, title: 'Giới Thiệu', class: 'bread-back' %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Inner page heading end -->

<!-- About start -->
<section class="my-about-field">
    <img class="my-transpar-bg-right" src="/vnmechanical/images/icon/mechanical-arm.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="my-about-col">
                    <h1>Welcome to our <span class="my-industrial-color">industrial</span> factory</h1>
                    <p>Vivamus vitae fringilla ipsum. Curabitur placerat leo nisl, nec finibus purus finibus vulputate. Mauris luctus fermentum risus eu fringilla. Quisque placerat efficitur magna vel scelerisque. Nulla bibendum tristique lacinia. Donec a metus magna. Phasellus tempor ligula felis, at ornare ligula lobortis ac. Duis pulvinar fringilla odio, id iaculis dolor. Proin in hendrerit massa, ut finibus neque. Proin tincidunt diam nec</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="my-about-col">
                            <div class="my-img-hover">
                                <a href="#">
                            <img src="/vnmechanical/images/about/1.jpg" alt="">
                          </a>
                                <div class="layer">
                                    <a class="lightbox-image" href="/vnmechanical/images/about/1.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                              <i class="icon flaticon-tank-1"></i>
                              <h4>industrial</h4>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="my-about-col">
                            <div class="my-img-hover">
                                <a href="#">
                            <img src="/vnmechanical/images/about/2.jpg" alt="">
                          </a>
                                <div class="layer">
                                    <a class="lightbox-image" href="/vnmechanical/images/about/2.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                              <i class="icon flaticon-tank-1"></i>
                              <h4>industrial</h4>
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-12">
                <div class="my-about-col">
                    <div class="my-about-box">
                        <div class="my-hexagon-box animated flipInY slow delay-250">
                            <div class="hexagon">
                                <img src="/vnmechanical/images/icon/landscape.png" alt="">
                                <h3>01</h3>
                            </div>
                        </div>
                        <h4>Industrial process</h4>
                        <p>Curabitur vel fermentum augue, quis vulputate diam</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="my-about-col">
                    <div class="my-about-box">
                        <div class="my-hexagon-box animated flipInY slow delay-500">
                            <div class="hexagon">
                                <img src="/vnmechanical/images/icon/factory.png" alt="">
                                <h3>02</h3>
                            </div>
                        </div>
                        <h4>Industrial process</h4>
                        <p>Curabitur vel fermentum augue, quis vulputate diam</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="my-about-col">
                    <div class="my-about-box">
                        <div class="my-hexagon-box animated flipInY slow delay-750">
                            <div class="hexagon">
                                <img src="/vnmechanical/images/icon/solar-panel-1.png" alt="">
                                <h3>03</h3>
                            </div>
                        </div>
                        <h4>Industrial process</h4>
                        <p>Curabitur vel fermentum augue, quis vulputate diam</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About end -->

<!-- About 3 start -->
<section class="my-about-field-three parallax my-layer-black" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="my-section-title">
                    <h2>WHO <span>WE ARE</span></h2>
                    <div class="my-title-line"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-sm-12 col-md-6">
                <div class="my-about-col">
                    <div class="my-accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <i class="icofont icofont-hour-glass icon-1"></i>
                                  <i class="icofont icofont-options icon-2"></i>
                                  Stet clita ea et gubergren, kasd magna no
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                  <i class="icofont icofont-hour-glass icon-1"></i>
                                  <i class="icofont icofont-options icon-2"></i>
                                    Ut wisi enim ad minim veniam, quis nostrud
                                    </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  <i class="icofont icofont-hour-glass icon-1"></i>
                                  <i class="icofont icofont-options icon-2"></i>
                                      Ut wisi enim ad minim veniam, quis nostrud
                                  </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-sm-12 col-md-6">
                <div class="my-about-col">
                    <div class="my-video-path">
                        <img src="/vnmechanical/images/about/5.jpg" alt="">
                        <div class="my-video-layer my-layer-yellow">
                            <img src="/vnmechanical/images/about/6.jpg" alt="">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=KmCQSVFqOYg">
                <i class="icofont icofont-play-alt-1"></i>
              </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About 3 end -->

<!-- Service start -->
<section class="my-service-field my-inner-service">
    <img class="my-transpar-bg-left" src="/vnmechanical/images/icon/wagon.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="my-section-title">
                    <h2>what <span>we do</span></h2>
                    <div class="my-title-line"></div>
                    <div class="clearfix"></div>
                    <p>Nulla eu ipsum vehicula, vehicula metus nec, suscipit elit. Morbi sed libero ac velit aliquam rhoncus vestibulum sed purus. Sed scelerisque rutrum eleifend.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="co-sm-12">
                <div class="owl-carousel-grid-four">
                    <div class="item">
                        <div class="my-single-item">
                            <img src="/vnmechanical/images/service/1.jpg" alt="">
                            <div class="my-arrow"></div>
                            <img class="my-small-img" src="/vnmechanical/images/icon/landscape.png" alt="">
                            <div class="layer"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="my-single-item">
                            <img src="/vnmechanical/images/service/2.jpg" alt="">
                            <div class="my-arrow"></div>
                            <img class="my-small-img" src="/vnmechanical/images/icon/factory.png" alt="">
                            <div class="layer"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="my-single-item">
                            <img src="/vnmechanical/images/service/3.jpg" alt="">
                            <div class="my-arrow"></div>
                            <img class="my-small-img" src="/vnmechanical/images/icon/solar-panel-1.png" alt="">
                            <div class="layer"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="my-single-item">
                            <img src="/vnmechanical/images/service/4.jpg" alt="">
                            <div class="my-arrow"></div>
                            <img class="my-small-img" src="/vnmechanical/images/icon/wagon.png" alt="">
                            <div class="layer"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="my-single-item">
                            <img src="/vnmechanical/images/service/1.jpg" alt="">
                            <div class="my-arrow"></div>
                            <img class="my-small-img" src="/vnmechanical/images/icon/solar-panel-1.png" alt="">
                            <div class="layer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Service end -->

<!-- Technology start -->
<section class="my-technology-field">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 my-paddless">
                <div class="my-technology-col">
                    <img src="/vnmechanical/images/about/8.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 my-paddless">
                <div class="my-technology-col">
                    <div class="my-technology-content">
                        <div class="my-another-title clearfix">
                            <span>Innovation & Adoption</span>
                            <h2>TECHNOLOGY</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque doloremque ipsam optio aliquid et dignissim.</p>
                        </div>
                        <div class="my-accordion-two">
                            <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-1">
                                        <h4 class="panel-title clearfix">
                                            <a role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1" class="">
                            Colorquibusdam nulla in a est fugiat corporis
                              <span class="pull-right">
                                <i class="fa fa-caret-down icon-1" aria-hidden="true"></i>
                                <i class="fa fa-caret-up icon-2" aria-hidden="true"></i>
                              </span>
                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-1" class="panel-collapse collapse in" role="tabpanel" aria-expanded="true">
                                        <div class="panel-body">
                                            <p>omnis repellendus consequuntur voluptate quisquam illo natus facilis voluptatum ea ex excepturi facere ipsum assumenda</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-2">
                                        <h4 class="panel-title clearfix">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
                            Explicabo neque eius doloribus
                              <span class="pull-right">
                                <i class="fa fa-caret-down icon-1" aria-hidden="true"></i>
                                <i class="fa fa-caret-up icon-2" aria-hidden="true"></i>
                              </span> 
                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-2" class="panel-collapse collapse" role="tabpanel" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">
                                            <p>omnis repellendus consequuntur voluptate quisquam illo natus facilis voluptatum ea ex excepturi facere ipsum assumenda</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-3">
                                        <h4 class="panel-title clearfix">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                              Colorquibusdam nulla in a est fugiat corporis
                              <span class="pull-right">
                                <i class="fa fa-caret-down icon-1" aria-hidden="true"></i>
                                <i class="fa fa-caret-up icon-2" aria-hidden="true"></i>
                              </span>
                          </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-3" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>omnis repellendus consequuntur voluptate quisquam illo natus facilis voluptatum ea ex excepturi facere ipsum assumenda</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading" role="tab" id="heading-4">
                                        <h4 class="panel-title clearfix">
                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                              Colorquibusdam nulla in a est fugiat corporis
                              <span class="pull-right">
                                <i class="fa fa-caret-down icon-1" aria-hidden="true"></i>
                                <i class="fa fa-caret-up icon-2" aria-hidden="true"></i>
                              </span>
                          </a>
                                        </h4>
                                    </div>
                                    <div id="collapse-4" class="panel-collapse collapse" role="tabpanel" aria-expanded="false">
                                        <div class="panel-body">
                                            <p>omnis repellendus consequuntur voluptate quisquam illo natus facilis voluptatum ea ex excepturi facere ipsum assumenda</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Technology end -->