<section class="my-about-field my-about-field-two">
    <img class="my-transpar-bg-right" src="/vnmechanical/images/icon/mechanical-arm.png" alt="">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-md-7">
                <div class="my-about-col">
                    <h1>Welcome to our<br> <span class="my-industrial-color">industrial</span> factory</h1>
                    <p>Vivamus vitae fringilla ipsum. Curabitur placerat leo nisl, nec finibus purus finibus vulputate. Mauris luctus fermentum risus eu fringilla. Quisque placerat efficitur magna vel scelerisque. Nulla bibendum tristique lacinia. Donec a metus magna. Phasellus tempor ligula felis, at ornare ligula lobortis ac. Duis pulvinar fringilla odio, id iaculis dolor. Proin in hendrerit massa, ut finibus neque. Proin tincidunt diam nec quam scelerisque</p>
                    <a class="btn btn-default my-btn-black" href="#">see industry</a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="my-about-col animated fadeInRightShort slow delay-250">
                            <div class="my-about-box-two">
                                <div class="my-left-img-box">
                                    <img src="/vnmechanical/images/icon/landscape.png" alt="">
                                </div>
                                <h4>Agricultural processing</h4>
                                <p>Morbi tellus nibh, rutrum eget ultricies ut, consectetur quis odio. Ut quis posuere eros, eu lacinia ante. Donec in.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="my-about-col animated fadeInRightShort slow delay-750">
                            <div class="my-about-box-two">
                                <div class="my-left-img-box">
                                    <img src="/vnmechanical/images/icon/factory.png" alt="">
                                </div>
                                <h4>Agricultural processing</h4>
                                <p>Morbi tellus nibh, rutrum eget ultricies ut, consectetur quis odio. Ut quis posuere eros, eu lacinia ante. Donec in.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-3 col-sm-6">
                <div class="my-about-col animated fadeInUpShort slow delay-250">
                    <div class="my-img-hover">
                        <a href="#">
                            <img src="/vnmechanical/images/about/1.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image" href="/vnmechanical/images/about/1.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon flaticon-tank-1"></i>
                                <h4>industrial</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="my-about-col animated fadeInUpShort slow delay-500">
                    <div class="my-img-hover">
                        <a href="#">
                            <img src="/vnmechanical/images/about/2.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image" href="/vnmechanical/images/about/2.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon flaticon-tank-1"></i>
                                <h4>industrial</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="my-about-col animated fadeInUpShort slow delay-750">
                    <div class="my-img-hover">
                        <a href="#">
                            <img src="/vnmechanical/images/about/3.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image" href="/vnmechanical/images/about/3.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon flaticon-tank-1"></i>
                                <h4>industrial</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="my-about-col animated fadeInUpShort slow delay-1000">
                    <div class="my-img-hover">
                        <a href="#">
                            <img src="/vnmechanical/images/about/4.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image" href="/vnmechanical/images/about/4.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon flaticon-tank-1"></i>
                                <h4>industrial</h4>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>