<section class="my-about-field-three parallax my-layer-black" data-stellar-background-ratio="0.3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="my-section-title">
                    <h2>WHO <span>WE ARE</span></h2>
                    <div class="my-title-line"></div>
                </div>	
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="my-about-col">
                    <div class="my-accordion">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      <i class="icofont icofont-hour-glass icon-1"></i>
                                      <i class="icofont icofont-options icon-2"></i>
                                      Stet clita ea et gubergren, kasd magna no
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="icofont icofont-hour-glass icon-1"></i>
                                      <i class="icofont icofont-options icon-2"></i>
                                        Ut wisi enim ad minim veniam, quis nostrud
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <i class="icofont icofont-hour-glass icon-1"></i>
                                      <i class="icofont icofont-options icon-2"></i>
                                            Ut wisi enim ad minim veniam, quis nostrud
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, At accusam aliquyam diam diam dolore dolores duo eirmod eos erat, et nonumy sed tempor et et invidunt justo labore Stet clita ea et gubergren, kasd magna no rebum. sanctus sea sed takimata.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="my-about-col">
                    <div class="my-video-path">
                        <img src="/vnmechanical/images/about/5.jpg" alt="">
                        <div class="my-video-layer my-layer-yellow">
                            <img src="/vnmechanical/images/about/6.jpg" alt="">
                            <a class="popup-youtube" href="https://www.youtube.com/watch?v=KmCQSVFqOYg">
                                <i class="icofont icofont-play-alt-1"></i>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>