<section class="my-features-field">
    <div class="container">
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-4 my-box-pad-less">
                <div class="my-features-col animated fadeInLeftShort slow delay-500">
                    <div class="my-faetures-box">
                        <img src="/vnmechanical/images/icon/conveyor.png" alt="">
                        <h4>Professional Workers</h4>
                        <p>Phasellus ut ligula eu orci blandit venenatis ut in augue. Etiam vitae justo sagittis,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 my-box-pad-less">
                <div class="my-features-col animated fadeInUpShort slow delay-250">
                    <div class="my-faetures-box my-faetures-box-middle">
                        <img src="/vnmechanical/images/icon/conveyor.png" alt="">
                        <h4>Professional Workers</h4>
                        <p>Phasellus ut ligula eu orci blandit venenatis ut in augue. Etiam vitae justo sagittis,</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 my-box-pad-less">
                <div class="my-features-col animated fadeInRightShort slow delay-500">
                    <div class="my-faetures-box">
                        <img src="/vnmechanical/images/icon/conveyor.png" alt="">
                        <h4>Professional Workers</h4>
                        <p>Phasellus ut ligula eu orci blandit venenatis ut in augue. Etiam vitae justo sagittis,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>