<section class="my-separator-field clearfix">
    <div class="my-left-separator">
        <div class="my-seratator-inside">
            <h2>In every business, in every industry, management does matter.</h2>
        </div>
    </div>
    <div class="my-right-separator">
        <a class="btn btn-default my-btn-yellow" href="#">read more</a>
        <img src="/vnmechanical/images/icon/wagon.png" alt="">
    </div>
</section>