<section class="my-singup-filed my-singup-filed-two my-layer-black">
    <div class="my-singup-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Signup for <span>Our Newsletter</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="my-singup-col">
                        <form>
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Your Name *">
                        </form>
                    </div>	
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="my-singup-col">
                        <form>
                            <input type="text" class="form-control" placeholder="Your Email *">
                        </form>
                    </div>	
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="my-singup-col">
                        <button class="btn btn-default my-btn-yellow" type="submit">Send Your Email</button>
                    </div>	
                </div>
            </div>
        </div>
    </div>
</section>