<section class="my-singup-filed my-singup-filed-two my-layer-black">
    <div class="my-singup-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h3>Đăng ký nhận <span>Bản tin của chúng tôi</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="my-singup-col">
                        <form>
                            <input type="email" class="form-control" id="inputEmail3"
                                placeholder="Nhập họ và tên *">
                        </form>
                    </div>	
                </div>
                <div class="col-md-5 col-sm-12">
                    <div class="my-singup-col">
                        <form>
                            <input type="text" class="form-control"
                                placeholder="Nhập địa chỉ email *">
                        </form>
                    </div>	
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="my-singup-col">
                        <button class="btn btn-default my-btn-yellow" type="submit">Đăng ký</button>
                    </div>	
                </div>
            </div>
        </div>
    </div>
</section>