<section class="my-team-field my-team-field-two">
    <img class="my-transpar-bg-right" src="/vnmechanical/images/icon/welder.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 col-sm-12">
                <div class="my-section-title my-section-title-right text-right">
                    <h2>our great<span> expert</span></h2>
                    <div class="my-title-line"></div>
                    <div class="clearfix"></div>
                    <p>Nulla eu ipsum vehicula, vehicula metus nec, suscipit elit. Morbi sed libero ac velit aliquam rhoncus vestibulum sed purus. Sed scelerisque rutrum eleifend.</p>
                </div>	
            </div>
        </div>
        <div class="row animatedParent animateOnce">
            <div class="col-md-4 col-sm-6">
                <div class="my-team-col animated fadeInUpShort slow delay-250">
                    <div class="my-team-single">
                        <img src="/vnmechanical/images/team/5.jpg" alt="">
                        <div class="my-img-over-box"></div>
                        <div class="my-team-social-two clearfix">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="my-team-name">
                            <h4>Mike morn</h4>
                            <p>- Chief Engineer -</p>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="my-team-col animated fadeInUpShort slow delay-250">
                    <div class="my-team-single">
                        <img src="/vnmechanical/images/team/6.jpg" alt="">
                        <div class="my-img-over-box"></div>
                        <div class="my-team-social-two clearfix">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="my-team-name">
                            <h4>Mike morn</h4>
                            <p>- Chief Engineer -</p>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="my-team-col animated fadeInUpShort slow delay-250">
                    <div class="my-team-single">
                        <img src="/vnmechanical/images/team/7.jpg" alt="">
                        <div class="my-img-over-box"></div>
                        <div class="my-team-social-two clearfix">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <div class="my-team-name">
                            <h4>Mike morn</h4>
                            <p>- Chief Engineer -</p>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>