<section class="my-works-field">
    <img class="my-transpar-bg-left" src="/vnmechanical/images/icon/wagon.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="my-section-title">
                    <h2>OUR LATEST <span>WORKS</span></h2>
                    <div class="my-title-line"></div>
                    <div class="clearfix"></div>
                    <p>Nulla eu ipsum vehicula, vehicula metus nec, suscipit elit. Morbi sed libero ac velit aliquam rhoncus vestibulum sed purus. Sed scelerisque rutrum eleifend.</p>
                </div>	
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/1.jpg" alt="">
                        </a>
                        <div class="layer layer-two">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/1.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/2.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/2.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/3.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/3.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/4.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/4.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/5.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/5.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="my-works-col">
                    <div class="my-img-hover my-img-hover-two">
                        <a href="#">
                            <img src="/vnmechanical/images/works/6.jpg" alt="">
                        </a>
                        <div class="layer">
                            <a class="lightbox-image2" href="/vnmechanical/images/works/6.jpg" data-fancybox-group="gallery" title="Gallery Photos">
                                <i class="icon icon-Search"></i>
                                <p>energy source</p>
                            </a>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
    </div>
</section>